[Unit]
Description=Start mitmproxy once to generate cert
After=network.target

[Service]
ExecStart=/usr/local/bin/init-mitmproxy.sh
Type=oneshot

[Install]
WantedBy=multi-user.target

