[Unit]
Description=Inicia Firefox em background para criar perfil
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-firefox.sh

[Install]
WantedBy=graphical.target

