[Unit]
Description=Inject mitmproxy cert into Firefox profiles
After=start-firefox.service
Requires=start-firefox.service

[Service]
ExecStart=/usr/local/bin/inject-cert.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

