[Unit]
Description=Start mitmproxy once to generate cert
After=network.target

[Service]
ExecStart=/usr/local/bin/start-mitmproxy.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

